body {
  margin: 0;
}

.main_container {
  /*трохи схитрю*/
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main_container-article {
  width: 100px;
  height: 200px;
  margin: 10px;

  background-color: gray;
}

div {
  width: 0;
  height: 200px;
  margin: auto;

  background-color: gray;
}